<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>

  <div class="scroll-content" style="margin-top: 56px;">

    <ion-grid class="is-grid grid">
  
      <ion-row class="row">
  
        <ion-col class="is-tile is-tile-bordered col" col-4="" text-center="">
  
          <div>
  
            <img src="assets/imgs/gmail.png">
  
            <p class="is-tile-caption">
  
              Gmail
  
            </p>
  
          </div>
  
        </ion-col>
  
        <ion-col class="is-tile is-tile-bordered col" col-4="" text-center="">
  
          <div>
  
            <img src="assets/imgs/yahoo.png">
  
            <p class="is-tile-caption">
  
              Yahoo
  
            </p>
  
          </div>
  
        </ion-col>
  
        <ion-col class="is-tile is-tile-bordered col" col-4="" text-center="">
  
          <div>
  
            <img src="assets/imgs/mail-ru.png">
  
            <p class="is-tile-caption">
  
              Mail.ru
  
            </p>
  
          </div>
  
        </ion-col>
  
      </ion-row>
  
  
  
      <ion-row class="row">
  
        <ion-col class="is-tile is-tile-bordered col" col-4="" text-center="">
  
          <div>
  
            <img src="assets/imgs/yandex.png">
  
            <p class="is-tile-caption">
  
              Yandex
  
            </p>
  
          </div>
  
        </ion-col>
  
        <ion-col class="is-tile is-tile-bordered col" col-4="" text-center="">
  
          <div>
  
            <img src="assets/imgs/mail.png">
  
            <p class="is-tile-caption">
  
              IMAP
  
            </p>
  
          </div>
  
        </ion-col>
  
        <ion-col class="is-tile is-tile-bordered col" col-4="" text-center="">
  
          <div>
  
            <img src="assets/imgs/outlook.png">
  
            <p class="is-tile-caption">
  
              Outlook
  
            </p>
  
          </div>
  
        </ion-col>
  
      </ion-row>
  
  
  
      <ion-row class="row">
  
        <ion-col class="is-tile is-tile-bordered col" col-4="" text-center="">
  
          <div>
  
            <img src="assets/imgs/aol.png">
  
            <p class="is-tile-caption">
  
              Aol Mail
  
            </p>
  
          </div>
  
        </ion-col>
  
        <ion-col class="is-tile is-tile-bordered col" col-4="" text-center="">
  
          <div>
  
            <img src="assets/imgs/icloud.png">
  
            <p class="is-tile-caption">
  
              iCloud Mail
  
            </p>
  
          </div>
  
        </ion-col>
  
      </ion-row>
  
    </ion-grid>
  
  </div>

  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
