<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Listado de Aplicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list> -->

  <div class="scroll-content">

    <ion-grid class="is-grid grid" *ngIf="applications">
  
      <ion-row class="row">
  
        <ion-col class="is-tile is-tile-bordered col" col-4
          *ngFor="let app of applications" no-padding >
  
          <ion-card (click)="selectApp(app.id)" >

            <ion-card-header>
              {{app['im:name'].label}}
            </ion-card-header>
            <ion-card-content class="fixline">
              <img [src]="app['im:image'][0].label">
            </ion-card-content>

          </ion-card>
  
        </ion-col>
  
      </ion-row>
  
    </ion-grid>
  
  </div>

  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
