<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categorías de Aplicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Visor de aplicaciones</ion-card-subtitle>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aquí podrás encontrar una lista variada de las aplicaciones más populares en las tiendas más usadas por los usuarios de dispositivos móviles.</p>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-list-header>
        <ion-label>Categorías</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of items">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        <ion-label (click)="filterApps(item.id)">{{item.title}}</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
